<?xml version="1.0" encoding="utf-8" ?>

<!--Rename this to App.config, and fill in the AppName and ClientID fields-->
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="AppName" value="YOUR APP NAME HERE"/>
        <add key="ClientID" value="YOUR CLIENT ID HERE"/>
    </appSettings>
</configuration>